/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

body {
  background-size: cover;
  background-position: center;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.bg-clear {
  background-color: rgba(70, 70, 70, 0.50);
  backdrop-filter: blur(10px);
}

.image-height {
  min-height: 80dvh;
}

.hover-display {
  opacity: 0;
}

.hover-display:hover {
  opacity: 1;
}

.opacity-override {
  opacity: 1;
}

.opacity-1 {
  opacity: 1;
}

.opacity-override>.opacity-1 {
  opacity: 1;
}