<div class="container-fluid">
    <div class="row d-flex ">
        <div class="col d-flex image-height text-center h-100 w-100 justify-content-end align-items-end">

            <h5 class="w-100 h-100 text-light hover-display">
                <p class="opacity-override opacity-override">"Quote will go here"</p>
                <p>-author name</p>
            </h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 bg-clear rounded text-light">
            <div class="row">
                <div class="col-3">
                    <div id="weather-button" class="d-flex justify-content-center align-items-center h-100">
                        <!-- <button class="btn btn-rounded bg-dark text-light w-75">72 C | Snowing</button> -->
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <h1>00:00</h1>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <button class="btn btn-rounded bg-dark text-light w-75">To-Do</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>